html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  /*padding-top: 80px;*/
  /*margin-bottom: 60px;*/
}

.text-left {
  text-align :left !important;
}

.margin40{
  margin-left: -40%
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.thumbnail {
  position: relative;  
  overflow: hidden;
  min-height: 215px;

    .bookmark-controls{
      position: absolute;
      z-index: 10;
      padding:10px;
      left: 0;
      right: 0;
      bottom: 0;

    }
    .bookmark-info {
      text-transform: uppercase;
      font-family: sans-serif;
      font-size: 12px;
      color:#000000;
      position: absolute;
      bottom: 0;
      top:-100%;
      left: 0;
      right: 0;
      height: 76%;
      background-color: rgba(228,228,223,0.8);
      z-index: 1;
      padding: 10px;
      span.label.label-default:nth-child(n+7)
      {
        visibility: hidden;
      }
    }

    &:hover{
      .bookmark-info{
        top:0;

      }
    }
}

.custom-image-rendering
{
  image-rendering: -moz-crisp-edges;
}

.font-10
{
  font-size: 10;
}

.truncate_text
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
