#screamout
{
  width: 40%;
  height: 450px;
  position: fixed;
  top: 0;
  left: 25%;
  top: 25%;
  z-index: 100000;
  opacity: 1 !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-clip: padding-box;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  transform: translate(-25%, -25%)
}
