<!DOCTYPE html>
<html lang="en">
<head>
<title>Screamout</title>

  <%= stylesheet_link_tag "screamout/application" %>

  <%= stylesheet_link_tag media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'screamout/application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body >

<%= yield %>

</body>
</html>

